// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600); // Variables
@import 'variables';
@import 'mixins'; // Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

#app {
  > .container {
    padding-bottom: 15px;

    .limWidth {
      max-width: 880px;
      margin: auto;
      padding: 10px;
    }
  }
}
// Outline from links

a,
a:focus {
  outline: none;
}
// Settings

.settings {
  h1 {
    font-weight: bold;
  }
}
// Error page

.errorPage {
  &#errorImage img {
    width: 100%;
  }

  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 100px;
  }

  h2 {
    text-align: center;
  }
}
// Siteless index

.siteList {
  text-align: center;
  padding: 20px;

  .siteButton {
    margin: auto;
    padding: 10px;
    display: block;
  }

  a {
    font-weight: bold;
    font-size: 40px;
    border-radius: 20px;
    padding: 10px 20px;
  }
}
// Treasurer interface

.treasurer {
  max-width: 300px;
  margin: auto;
}

.vatTable {
  max-width: 800px;
  margin: auto;

  table {
    th,
    tr {
      text-align: center;
    }
  }

  .btnRemove {
    width: 100px;
  }
}

.navbar-default {
  .navbar-nav {
    li {
      a {
        @include linkOnBackground($navbar-text-colour);
      }
    }
  }

  .navbar-brand {
    @include linkOnBackground($navbar-text-colour);
  }
}

.panel-default .panel-heading {
  color: $navbar-text-colour;
  background-color: $accent;
}

.btn {
  border-radius: 0;
}

.nav-pills,
.nav-tabs {
  li {
    a {
      font-size: 20px;
      border-radius: 0;
    }
  }
}

.ItemsTable {
  th {
    font-size: 18px;
  }

  th + th + th {
    text-align: center;
  }

  td {
    &:not(.tableHeader) {
      height: 60px;
      text-align: center;
      vertical-align: middle;
    }

    &.itemTitle {
      font-size: 16px;
      font-weight: 580;
      text-align: left;
    }

    &:nth-child(1) {
      width: 80px;
      padding: 0;
    }

    &:nth-child(6) {
      width: 120px;
      min-width: 120px;
    }

    &.tableHeader {
      border: 0;
    }

    &.itemImage img {
      max-width: 54px;
      max-height: 54px;
    }
  }

  h2 {
    font-size: 22px;
    font-weight: bold;
  }

  tbody:not(:first-of-type) td h2 {
    padding-top: 20px;
  }
}

.table-responsive {
  border: 0;
}

.userTable {
  th + th + th {
    text-align: center;
  }

  td + td + td {
    text-align: center;
  }
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}
// Styling for custom number spinners

.numInput {
  > * {
    display: block;
    float: left;
  }

  input {
    width: 40px;
    text-align: center;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }

  .btnMore {
    border-radius: 0 4px 4px 0;
  }

  .btnLess {
    border-radius: 4px 0 0 4px;
  }
}
// Styling for number text text inputs

.form-group {
  .customNum {
    max-width: 100px;
  }

  .bg-form-group {
    font-size: 40px;
  }
}
// Styling for vue-datepicker

.form-group .datepicker {
  display: inline-block;

  input {
    width: 300px;
  }

  .calendar {
    span.cell.selected {
      color: $navbar-text-colour;
      background: $accent;
    }

    .cell:not(.blank):not(.disabled).day:hover {
      border: 1px solid $accent;
    }
  }
}
// Login styling

.login {
  max-width: 700px;
  margin: auto;

  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: $screen-md-min) {
  .borderLeft {
    border-left: 1px solid $accent;
  }

  .submenu {
    margin-right: -1px;
    border-right: 1px solid $accent;
  }
}
@media (min-width: $screen-sm-min) {
  .modal-dialog {
    width: 700px;
  }
}
// Status styles

.status {
  &#s1 {
    color: $statusBlue;
  }

  &#s2 {
    color: $statusGreen;
  }

  &#s3 {
    color: $statusAmber;
  }

  &#s4,
  &#s5 {
    color: $statusGreen;
  }
}
// Home paeg styleing

img#homeLogo {
  max-width: 100%;
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}
// Item view styling

.modal-dialog .img-responsive {
  margin: auto;
}
// Summernote styling

.panel-default .panel-heading {
  background-color: #F5F5F5;
}

#ContentEditorControls {
  select {
    border-radius: 4px;
  }

  span#contentSave {
    padding-left: 10px;
  }
}
// Item Edit

.imageThumb {
  max-width: 54px;
  max-height: 54px;
}
// Custom Items table

.custom-item-table {
  display: table;
  width: 100%;
  padding: 10px 0;

  .table-heading {
    display: table-row;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }

  .table-row {
    display: table-row;
    padding: 5px;
  }

  .table-max {
    display: table-cell;
    padding: 5px;
  }

  .table-set {
    display: table-cell;
    width: 110px;
    padding: 5px;

    input {
      text-align: center;
    }
  }

  .table-pound {
    display: table-cell;
    text-align: right;
    margin-left: -5px;
    vertical-align: middle;
    font-weight: bold;
  }

  .table-delete {
    display: table-cell;
    text-align: right;
    width: 1px;
    padding-left: 10px;
    vertical-align: middle;
  }
}

.table-title {
  padding-top: 25px;
  display: table;

  h2 {
    font-size: 22px;
    font-weight: bold;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
  }

  button {
    display: table-cell;
  }
}
